{% extends 'home.html' %}
{% block content %}
<center><h3><a href="{% url '/' %}"> Home</a></h3></center>
<table cellpadding="5" cellspacing="2" width="100%" style="border:1px solid black;">
    <tr width="80%">
        <td width = "75%">
            <h2>Summary:</h2>
            <fieldset disabled="disabled">
                {{ pform.summary }}
            </fieldset>
        </td>
        <td>
            <button onclick="myFunction()">Copy Summary</button><br/><br/>
            {% if pform.audio.value != "" %}
                <audio controls="controls">     
                <source src = "http://127.0.0.1:8000/static/audios/{{ pform.audio.value }}.mp3" type="audio/mp3">
                </audio>
            {% endif %}
        </td>
    </tr>
    <tr>
    </tr>
            <tr>
                <td colspan="2">
                    <form action="{% url 'reviews' pk %}" method="POST">
                        {% csrf_token %}
                        <table width="100%" cellpadding="3" cellspacing="1">
                            <tr>
                                <td width="21%">
                                    <h3>Rate the above Summary: </h3>
                                </td>
                                <td>
                                    <div class="rate">
                                        <input type="radio" id="star5" name="rate" value="5" {{var1}}/>
                                        <label for="star5" title="Excellent"></label>
                                        <input type="radio" id="star4" name="rate" value="4" {{var2}}/>
                                        <label for="star4" title="Above Average"></label>
                                        <input type="radio" id="star3" name="rate" value="3" {{var3}}/>
                                        <label for="star3" title="Average"></label>
                                        <input type="radio" id="star2" name="rate" value="2" {{var4}}/>
                                        <label for="star2" title="Below Average"></label>
                                        <input type="radio" id="star1" name="rate" value="1" {{var5}}/>
                                        <label for="star1" title="Poor" ></label>                                        
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="textarea">
                                        <textarea name="comments" rows="6" cols="40" value="{{ rform.comments }}" ></textarea>
                                    </div>
                                    <div class="btn">
                                        <input type="submit" value="Post" onclick="getFeedback(rate,comments)">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
    <tr width="85%">
        <td colspan="2">
            <fieldset disabled="disabled" >
                <h2>Article name:</h2><h3>{{ pform.article_name }}</h3>
            </fieldset>
            <fieldset disabled="disabled">
                <h2>Your article:</h2><h3>{{ pform.prompt }}</h3>
            </fieldset>
            <fieldset disabled="disabled">
                <h2>Engine:</h2> <h3>{{ pform.engine }}</h3>
            </fieldset>
            <fieldset disabled="disabled">
                <h2>Language:</h2> <h3>{{ pform.language }} </h3>
            </fieldset>
        </td>
    </tr>
</table>

<script>
    function myFunction() 
    {
        /* Get the text field */
        var copyText = document.getElementById("id_summary");
    
        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */
    
        /* Copy the text inside the text field */
        navigator.clipboard.writeText(copyText.value);
    
        /* Alert the copied text */
        alert("Copied the text: " + copyText.value);
    }
</script>

<script>
    function getFeedback(rate,comments) 
    {
        $.ajax(
        {
        url: 'reviews',
        data : {
            'rate': rate,
            'comments': comments
        },
        success: function (data) {
            $("#review_id").html(data);
        }
        });
    }
</script>

{% endblock %}