{% extends 'home.html' %}

{% block content %}

<form name="myForm" id="myForm"  action="{% url 'response' %}">
    {{ form.as_p}}
    <input type="submit">
</form>

<script type="text/javascript">
    window.onload=function(){
        var auto = setTimeout(function(){ autoRefresh(); }, 1);

        function submitform(){
          document.forms["myForm"].submit();
        }

        function autoRefresh(){
        //    clearTimeout(auto);
           auto = setTimeout(function(){ submitform(); }, 1);
        }
    }
</script>

{% endblock %}